<template>
  <div class="<%= data.lowerName %>"></div>
</template>

<script>
 import { useRouter } from 'vue-router'
 import { useStore } from 'vuex'
 import { watchEffect, ref, computed } from 'vue'

export default {
  name: "<%= data.lowerName %>",
  components: {},
  setup (props, context) {
     const router = useRouter()
     const store = useStore()
  }
}
</script>
<style lang='scss' scoped>
    .<%= data.lowerName %>{
        
    }
</style>
